/src/TugasPraktikum/nbproject/private/
/src/JavaApplication20/nbproject/private/
/src/JavaApplication20/build/
/src/Tugas2/nbproject/private/
/src/Tugas2/build/
/src/TugasTeori/nbproject/private/
/src/Praktikum3/nbproject/private/
/src/MotorEncapsulation/nbproject/private/
/src/MotorEncapsulation/build/
/src/KoperasiGetterSetter/nbproject/private/
/src/KoperasiGetterSetter/build/
/src/tugas3/nbproject/private/
/src/tugas3/build/
/src/ProsessorLaptop/nbproject/private/
/src/ProsessorLaptop/build/
/src/Tugas4/nbproject/private/
/src/Tugas4/build/
/src/Kuis1/nbproject/private/
/src/Kuis1/build/
/src/Praktikum6/nbproject/private/
/src/Praktikum6/build/